.cart {
  list-style-type: none;
  padding-left: 0;
  margin: 10px;
  background-color: white;
  padding: 35px 25px;
  font-size: 15px;
  width: 20%;
  height: calc(100vh - 20px);
  position: sticky;
  top: 10px;
}

.item {
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
}

.total {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  text-align: right;
  width: calc(100% - 50px);
  border-top: 1px solid #121212;
  padding-top: 6px;
}

.total__label {
  padding-right: 5px;
}

.total__price {
  font-size: 14px;
}

.item__title {
  font-size: 12px;
}

.item__title,
.item__color {
  width: 140px;
}

.item__sku {
  font-size: 11px;
  color: #888686;
}

.item__sku,
.item__color,
.item__size {
  margin: 0;
}

.item__price {
  display: block;
  font-weight: bold;
  margin-top: 6px;
  text-align: right;
}

.item__remove {
  color: #ed1c24;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}

* {
  /*outline: 1px solid red;*/
}
