.gallery {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  width: calc(calc(100% / 3) - 20px);
  margin: 10px;
}

.bike {
  background-color: white;
  padding: 35px 25px;
  position: relative;
}

.bike__image {
  width: 100%;
  display: block;
}

.bike__colors {
  list-style-type: none;
  padding-left: 0;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.bike__colors li {
  border: 1px solid #121212;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.circle {
  display: block;
  background-color: #CDCDCD;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.bike__title {
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #414141;
  text-align: center;
}

.bike__price {
  font-size: 14px;
  color: #414141;
  text-align: center;
  margin: 0;
}

.bike__add {
  border: 0;
  color: #414141;
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.bike:hover .bike__add {
  opacity: 1
}

.bike__add i {
  font-size: 7px;
  margin-right: 5px;
}

.pagination {
  font-size: 11px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 10px;
}
